-e git+git://github.com/django/django.git#egg=Django
South==0.7.3
Werkzeug==0.8.1
-e git://github.com/django-debug-toolbar/django-debug-toolbar.git@b8ea435dd3fc2af702c17b8de93d870d4988e81f#egg=django_debug_toolbar-dev
django-extensions==0.7.1
django-grappelli==2.3.5
django-rosetta==0.6.2
django-rosetta-grappelli==1.0.1
docutils==0.8.1
