{% load url from future %}{% load i18n %}<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}Handstand{% endblock %}</title>
  <meta name="description" content="">
  <meta name="author" content="@zsiciarz">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/style.less">
  {% block extra-style %}{% endblock %}
  <script src="{{ STATIC_URL }}js/libs/modernizr-2.5.3.min.js"></script>
  <script src="{{ STATIC_URL }}js/libs/less-1.3.1.min.js"></script>
</head>

<body>
  <header>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{% url 'main' %}">handstand</a>
          <ul class="nav">
            <li class="active"><a href="{% url 'main' %}">{% trans 'Home' %}</a></li>
            <li><a href="#">{% trans 'About' %}</a></li>
            {% if user.is_staff %}
              <li><a href="{% url 'admin:index' %}">{% trans 'Administration' %}</a></li>
              <li><a href="{% url 'rosetta-home' %}">{% trans 'Translation' %}</a></li>
            {% endif %}
          </ul>
          {% if user.is_authenticated %}
          <ul class="nav secondary-nav">
            <li class="pull-right"><a href="{% url 'users-logout' %}">{% trans 'Log out' %}</a></li>
          </ul>
          {% else %}
            <form action="{% url 'users-login' %}" method="post" class="navbar-form pull-right">
              {% csrf_token %}
              <input class="input-small" type="text" name="username" placeholder="{% trans 'Username' %}">
              <input class="input-small" type="password" name="password" placeholder="{% trans 'Password' %}">
              <button class="btn btn-small" type="submit">{% trans 'Log in' %}</button>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="content" role="main">
      <div class="page-header">
        <h1>handstand</h1>
      </div>
      <div class="row">
        <div class="span12">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    <footer>
    <p>&copy; <a href="http://siciarz.net">Zbigniew Siciarz</a> 2011-2012</p>
    </footer>
  </div> <!-- /container -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.8.2.min.js"><\/script>')</script>
  <script defer src="{{ STATIC_URL }}js/libs/bootstrap-alert.js"></script>
  <script defer src="{{ STATIC_URL }}js/plugins.js"></script>
  <script defer src="{{ STATIC_URL }}js/script.js"></script>
  {% block extra-script %}{% endblock %}
  <!--[if lt IE 7 ]>
    <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
</body>
</html>
