{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block content %}

<h2>{% trans 'Login' %}</h2>

{% if form.errors %}
  <div class="alert alert-error">
    <a class="close" data-dismiss="alert" href="#">×</a>
    {% trans "Your username and password didn't match. Please try again." %}
  </div>
{% endif %}

<form method="post" action="{% url 'users-login' %}">
  <fieldset>
    {% include "form.html" %}
    <input type="hidden" value="{{ next }}" name="next" />
    <input type="submit" value="{% trans 'Log in' %}" class="btn primary" />
</fieldset>
</form>

{% endblock %}
